hr {
    background-color: white;
}

h4 {
    margin-bottom: 15px;
}

h5 {
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #5f5f5f, #bebebe);
}

a:hover {
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .lateral-menu {padding-top: 15px;}
    .lateral-menu a {font-size: 18px;}
}

.container-div, #dropDownSelect1 {
    zoom: 0.67;
}

.wrap-contact100 {
    width: 92%;
}

.delete-btn {
    margin-top: 16px;
    margin-bottom: 14px;
}

.btn-span {
    color: white;
}

.lateral-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
}

.icon {
    width: 36px;
    height: 36px;
    cursor: pointer;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 6px;
    border: solid 1px #fff;
}

.open-menu {
    position: absolute;
    border: none;
}

.close-menu {
    border: none;
}

.group {
    margin-top: 30px;
}

.theme-1 {
    background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
    background: linear-gradient(45deg, #00dbde, #fc00ff);
}

.theme-2 {
    background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #00ff2a, #0011ff);
    background: -o-linear-gradient(45deg, #00ff2a, #0011ff);
    background: -moz-linear-gradient(45deg, #00ff2a, #0011ff);
    background: linear-gradient(45deg, #00ff2a, #0011ff);
}

.theme-3 {
    background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #ffd900, #00ffb3);
    background: -o-linear-gradient(45deg, #ffd900, #00ffb3);
    background: -moz-linear-gradient(45deg, #ffd900, #00ffb3);
    background: linear-gradient(45deg, #ffd900, #00ffb3);
}

.theme-4 {
    background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #340079, #ff4800);
    background: -o-linear-gradient(45deg, #340079, #ff4800);
    background: -moz-linear-gradient(45deg, #340079, #ff4800);
    background: linear-gradient(45deg, #340079, #ff4800);
}

.theme-5 {
    background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #d3001c, #73ff00);
    background: -o-linear-gradient(45deg, #d3001c, #73ff00);
    background: -moz-linear-gradient(45deg, #d3001c, #73ff00);
    background: linear-gradient(45deg, #d3001c, #73ff00);
}

.theme-6 {
    background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #00eeff, #1100ff);
    background: -o-linear-gradient(45deg, #00eeff, #1100ff);
    background: -moz-linear-gradient(45deg, #00eeff, #1100ff);
    background: linear-gradient(45deg, #00eeff, #1100ff);
}

.theme-7 {
    background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #0004ff, #ff00ea);
    background: -o-linear-gradient(45deg, #0004ff, #ff00ea);
    background: -moz-linear-gradient(45deg, #0004ff, #ff00ea);
    background: linear-gradient(45deg, #0004ff, #ff00ea);
}