::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #00dbde, #fc00ff);
}

.container-contact100, .lateral-menu{
    background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
    background: linear-gradient(45deg, #00dbde, #fc00ff);
}

.contact100-form-bgbtn {
    background: #a64bf4;
    background: -webkit-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: -o-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: -moz-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
}

.select2-container .select2-results__option[aria-selected="true"], .select2-container .select2-results__option--highlighted[aria-selected]{
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #00dbde, #fc00ff);
    background: -o-linear-gradient(right, #00dbde, #fc00ff);
    background: -moz-linear-gradient(right, #00dbde, #fc00ff);
    background: linear-gradient(right, #00dbde, #fc00ff);
    color: white;
}